html,
body {
  margin: 0;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  line-height: 1.4;

  >div {
    margin-top: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  line-height: 1.1;


}

strong {
  color: #222;
}

li {
  margin-top: 0.25rem;
}

.container {
  width: 800px;
  margin: 2rem auto;
}

.readme {
  width: 800px;
  margin: 2rem calc((100vw - 800px) / 2);
}

.counter {
  $buttonBg: #003874;
  $buttonBgLight: #325f8f;
  $buttonBgDark: #003268;
  $buttonTextColor: #e5ebf1;

  button {
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: 1.2rem;
    padding: 0.8rem 1.2rem;
    overflow: hidden;
    color: $buttonTextColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.0325rem;
    text-transform: lowercase;
    text-decoration: none;

    background: $buttonBg;
    border: none;
    border-color: none;
    border-radius: 0.8rem;
    -webkit-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.52);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.52);

    cursor: pointer;
    transition: all ease-in-out 0.3s;
    transition-property: background, transform;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      background: $buttonBgLight;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.calendar {
  margin: 0 auto;
  font-weight: 700;

}

.calendar-header,
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-header {
  color: #FFFFFF;
}

.header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #221D23;
  width: 125px;
  background-color: #3772FF;


}

.day-cell {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  height: 125px;
  width: 125px;
  border: 1px solid #221D23;
  cursor: pointer;

  .reminders-list {
    margin-left: 2px;
    margin-top: 2px;
    overflow-y: auto;
    max-height: 95%;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    .reminder {
      background-color: #f0f0f0;
      padding: 2px;
      margin-bottom: 2px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #3772FF;

    }
  }
}

.not-current-month {
  color: #f0f0f0;
}

.weekend {
  background-color: #cccccc;
}

.not-current-month.weekend {
  background-color: white;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  button {
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;

  }
}

.today {
  color: #3772FF;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001;
  height: fit-content;
  width: 350px;
  position: relative;
  /* This ensures that the close button is positioned relative to the modal */


  form {

    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;

    textarea {
      width: 100%;
      resize: none;
    }

    label {
      margin-top: 10px;
      margin-bottom: 10px;
    }

  }

  .btn-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    /* Adjust size as needed */
    color: #221D23;
  }

  button {
    border-radius: 10px;
    background-color: #3772FF;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    border: none;
    padding: 5px 10px;

  }
}

.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* For Webkit Browsers like Chrome, Safari, and newer versions of Edge */
.reminders-list::-webkit-scrollbar {
  width: 8px;
}

.reminders-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.reminders-list::-webkit-scrollbar-thumb {
  background: #888;
}

.reminders-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.error {
  color: red;
  font-size: 0.8em;
}